doctype html
html(lang="zh-Hant-TW")
  
  include ../base/_head.pug
  
  body

    h2 hello12323123
    img(src=require('../../images/first/banner1.jpg'), alt="")
    section#section2
      h1.title ffdf
      p 123 
      h3.sub-title Lorem 1233
      div.my-cover
    include ../components/_footer.pug 


    script(src=htmlWebpackPlugin.options.scriptPath)