doctype html
html(lang="zh-Hant-TW")
  
  include ../base/_head.pug
  
  body

    
    h2 hello worlddf12312
    img(src=require('../../images/first/banner1.jpg'), alt="")
    section#section2
      h1.title first page
      h3.sub-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
      div.my-cover


    script(src=htmlWebpackPlugin.options.vendorsPath)
    script(src=htmlWebpackPlugin.options.utilsPath) 
    script(src=htmlWebpackPlugin.options.scriptPath)